#rewards-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#rewards-table caption {
    font-size: 1.5em;
    font-weight: bold;
    color: rebeccapurple;
    padding: 10px;
}

#rewards-table thead tr {
    background-color: rebeccapurple;
    color: #ffffff;
    text-align: left;
}

#rewards-table th,
#rewards-table td {
    padding: 12px 15px;
}

#rewards-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#rewards-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#rewards-table tbody tr:last-of-type {
    border-bottom: 2px solid rebeccapurple;
}